.navlink{
    padding-bottom: 1rem;
    font-size: 1.2rem;
    padding-left: 2.6rem;
    width: 100%;
    /* .navigation-links{
        
    } */
    .dash{
        width: 80%;
        height: 1px;
        background-color: black;
    }
}
.sidebar{
    
    
}
.navlink:hover{
    .dash{
        background-color: rgb(221, 218, 218);
    }
}
.footer{
    position: absolute;
    bottom: 2%;
    left:10%
}