/* Footer css */
.footer {
  background: #0f0f0f;
  color: #ccc;
  padding: 50px 20px 20px;
  margin-top: 60px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-left h2 {
  color: #fff;
  margin-bottom: 10px;
}

.footer-left p {
  font-size: 14px;
  max-width: 250px;
}

/* Links */
.footer-links a {
  display: block;
  margin-bottom: 10px;
  color: #aaa;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}

/* Social */
.footer-social .link {
  display: block;
  margin-bottom: 10px;
  color: #aaa;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-social .link:hover {
  color: #fff;
  transform: translateX(5px);
}

/* Bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255,255,255,0.1);
  margin-top: 30px;
  padding-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #777;
}

.Footer-header{
  text-align: center;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
  font-size: 20vw;
  font-weight: 800;
  text-transform: uppercase;
  scale: 1 1.1;
  letter-spacing: 10px;
  /* 1. Create the transparent center and grey outline */
  color: transparent;
  -webkit-text-stroke: 10px rgba(184, 184, 184, 0.3); /* Dim grey/white */

  /* 2. The Fade Effect (The most important part) */
  /* This masks the text so it is 100% visible at the top and 10% at the bottom */
   -webkit-mask-image: linear-gradient(to bottom, 
    rgba(0,0,0,1) 0%,    /* Full visibility at the very top */
    rgba(0,0,0,0.2) 75%,  /* Starts disappearing quickly by the middle */
    rgba(0,0,0,0) 90%    /* Becomes completely invisible before the bottom */
  );
  mask-image: linear-gradient(to bottom, 
    rgba(0,0,0,1) 0%, 
    rgba(0,0,0,0.2) 75%, 
    rgba(0,0,0,0) 90%
  );

  /* Subdued Shadow */
  text-shadow: 0px 10px 25px rgba(0, 0, 0, 1);
}
/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}