/* =========================
   NAVBAR
========================= */

nav {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  pointer-events: all;
  z-index: 12;
}

.menu-bar {
  padding: 2.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scrolled-menu-bar {
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: 600;
  z-index: 13;
}

/* =========================
   TOGGLE BUTTON
========================= */

.menu-toggle-button {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  z-index: 13;
}

.menu-toggle-label {
  overflow: hidden;
}

.menu-hamberger-icon {
  width: 48px;
  height: 48px;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 7px;
  padding: 0;
}

.menu-hamberger-icon span {
  display: block;
  height: 2px;
  background: black;
  border-radius: 999px;
  transition: .45s cubic-bezier(.76, 0, .24, 1);
}

.menu-hamberger-icon span:first-child {
  width: 28px;
}

.menu-hamberger-icon span:last-child {
  width: 18px;
}

.menu-hamberger-icon:hover span:last-child {
  width: 28px;
}

.menu-hamberger-icon.active span:first-child {
  transform: translateY(4.5px) rotate(45deg);
}

.menu-hamberger-icon.active span:last-child {
  width: 28px;
  transform: translateY(-4.5px) rotate(-45deg);
}

/* =========================
   OVERLAY
========================= */

.menu-overlay,
.menu-overlay-content {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
}

.menu-overlay {
  background: var(--menu-bg);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.menu-overlay-content {
  transform: translateY(-50%);
  pointer-events: all;
}

/* =========================
   GRID
========================= */

.menu-content-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding:8rem 5rem 3rem;
  gap: 4rem;
  background-color: azure;

}
.menu-bottom-content{
  display: flex;
  justify-content: space-between;
}
.menu-col:first-child {
  display: flex;
  flex-direction: column;
  /* background-color: blanchedalmond; */
  align-self: center;
}

.menu-col:nth-child(2) {
  
  /* background-color: #3A4A16; */
  align-self: end;
  justify-self: start;
}

.menu-tag {
  font-size: 1rem;
  color: black;
  line-height: 1.9;
}

.menu-link {
  font-size: clamp(2.2rem, 4vw, 4rem);
  line-height: 1.05;
  font-weight: 500;
  letter-spacing: -0.05em;
  margin-bottom: .35rem;
  cursor: pointer;
  align-self: baseline;
  transition: .35s ease;
}

.menu-link:hover {
  transform: translateX(12px);
  letter-spacing: -0.03em;
  color: #3A4A16;
}

.menu-link.active {
  color: #3A4A16;
}

.menu-footer {
  /* background-color: rgb(116, 155, 189); */
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: .4rem;
}

.menu-p {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

@media (max-width:1024px) {

  .menu-bar {
    padding: 40px;
  }

  /* .menu-bottom-content{
    display: contents;
  } */
  .menu-col:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
  }

  .menu-col:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
  }

  .menu-footer {
    grid-column: 1;
    grid-row: 3;
    justify-self: start;
  }

  .menu-link {
    font-size: 3rem;
  }

  .menu-tag {
    font-size: 1rem;
  }

}

@media (max-width:768px) {

  .menu-bar {
    padding: 24px;
  }

  .logo {
    font-size: 1.5rem;
  }

  .menu-toggle-button {
    gap: .5rem;
  }

  .menu-bottom-content{
    /* flex-direction: column; */
    gap: 2rem;
  }
  .menu-content-main {
    padding: 120px 24px 30px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    
  }
  .menu-col:nth-child(1),
  .menu-col:nth-child(2),
  .menu-footer {
    all: unset;
  }

  .menu-link {
    display: block;
    font-size: 2.5rem;
    margin-bottom: 12px;
  }

  .menu-tag {
    font-size: .95rem;
    margin-bottom: 12px;
  }

  .menu-footer {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .menu-footer a,
  .menu-footer p {
    font-size: .95rem;
  }

  .menu-hamberger-icon {
    width: 42px;
    height: 42px;
  }
   .menu-hamberger-icon span:first-child {
    width: 24px;
  }

  .menu-hamberger-icon span:last-child {
     width: 24px;
  }
  .menu-hamberger-icon.active span:first-child {
  transform: translateY(4.5px) rotate(45deg);
}

.menu-hamberger-icon.active span:last-child {
  width: 24px;
  transform: translateY(-4.5px) rotate(-45deg);
}

}

@media (max-width:480px) {

  .menu-bar {
    padding: 20px;
  }

  .logo {
    font-size: 1.3rem;
  }

  .menu-content-main {
    padding: 100px 20px 20px;
  }
    .menu-bottom-content{
    flex-direction: column;
    gap: 2rem;
  }
  .menu-content-main {
    padding: 120px 24px 30px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-link {
    font-size: 2rem;
  }

  .menu-tag {
    font-size: .85rem;
  }

  .menu-footer {
    gap: 12px;
  }

  .menu-footer a,
  .menu-footer p {
    font-size: .85rem;
  }

  .menu-hamberger-icon {
    width: 38px;
    height: 38px;
  }

  .menu-hamberger-icon span:first-child {
    width: 24px;
  }

  .menu-hamberger-icon span:last-child {
     width: 18px;
  }
  .menu-hamberger-icon.active span:first-child {
  transform: translateY(4.5px) rotate(45deg);
}
  .menu-hamberger-icon.active span:last-child {
  width: 24px;
  transform: translateY(-4.5px) rotate(-45deg);
}

}